
body {
	font-size: 16px;
	color: whitesmoke;
	font-family: cursive  serif; 
}
#header-nav {
	background-color: #99AAB5;
	border-radius: 0;
	border-style: 0;
}

.navbar-brand h1 {
	font-family: 'lora' serif;
	font-size: 1.6em;
	color:#F29FA9;

	margin-top: 0;
    margin-bottom: 0;
}
#header-nav button.navbar-toggle, .header-nav .icon-bar {
	border: 1px solid #F29FA9 ;
	background-color: #5D6D7E
    ;
}
#collapsable-nav, .collapse navbar-collapse {
	background-color: #5D6D7E;
   

}
#collapsable-nav ul li {
	text-decoration: none;
	list-style: none;
}
#collapsable-nav ul li a:hover, #collapsable-nav ul li a:focus {
    color: #000;
}
.container-fluid {
	color: #92406e;
	padding-bottom: 20px;
	font-family: 'lora', serif;
	text-shadow: 2px 2px 30px;
}
#main-content {
	background-color: #5d5d5d;
	width: 98%;
}
#menu-tile {
	color: #F29FA9;
	text-transform: uppercase;
	font-family: 'lora', serif;
}
